In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv('16k_Movies.csv')
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [25]:
df.drop_duplicates()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"
...,...,...,...,...,...,...,...,...,...,...
16285,16285,Boys to Men,"Apr 27, 2001",Compilation of 4 short films from different di...,NaN,NaN,NaN,NaN,\n https://www.amazon.com/Boys-Men-Phil...,Drama
16286,16286,Saint Misbehavin': The Wavy Gravy Movie,"Dec 10, 2010","Beginning with Woodstock ‘99, director Michell...",NaN,NaN,Michelle Esrick,NaN,Not Rated,Documentary
16287,16287,Collectors,"Oct 1, 2000",America is drawn to the macabre handiwork of t...,NaN,NaN,Julian P. Hobbs,NaN,1 h 20 m,Documentary
16288,16288,Bonhoeffer,"Jun 20, 2003",Dramatic documentary about the young German pa...,NaN,NaN,Martin Doblmeier,Martin Doblmeier,1 h 33 m,"Documentary,Biography,History,War"
16289,16289,7th Street,"Jan 17, 2003",This documentary explores change in one of the...,NaN,NaN,Josh Pais,Josh Pais,\n http://www.7thstreetmovie.com/\n ...,Documentary

In [26]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16285    False
16286    False
16287    False
16288    False
16289    False
Length: 16290, dtype: bool

In [27]:
df.isnull().sum()

Unnamed: 0                0
Title                     0
Release Date              0
Description               0
Rating                 3444
No of Persons Voted    3461
Directed by               7
Written by              963
Duration                 13
Genres                    5
dtype: int64

In [28]:
df['Genres'] = df['Genres'].fillna(method='ffill')

C:\Users\USER\AppData\Local\Temp\ipykernel_3784\1133144006.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Genres'] = df['Genres'].fillna(method='ffill')

In [29]:
df['Genres'].isnull().sum()

np.int64(0)

In [30]:
df['No of Persons Voted'] = df['No of Persons Voted'].fillna(method= 'backfill')

C:\Users\USER\AppData\Local\Temp\ipykernel_3784\2036964898.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['No of Persons Voted'] = df['No of Persons Voted'].fillna(method= 'backfill')

In [31]:
df['No of Persons Voted'].isnull().sum()

np.int64(7)

In [32]:
df['No of Persons Voted'] = df['No of Persons Voted'].fillna(method= 'ffill')

C:\Users\USER\AppData\Local\Temp\ipykernel_3784\2766833199.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['No of Persons Voted'] = df['No of Persons Voted'].fillna(method= 'ffill')

In [33]:
df['No of Persons Voted'].isnull().sum()

np.int64(0)

In [34]:
df['Rating'] = df['Rating'].astype('float')

In [35]:
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [36]:
df['No of Persons Voted'] = df['No of Persons Voted'].astype('int')

ValueError: invalid literal for int() with base 10: '4,102'

In [ ]:
df['No of Persons Voted'].unique()

array(['118', '241', '106', '147', '85', '4,102', '2,677', '446', '134',
       '22', '67', '23', '1,872', '120', '233', '111', '214', '150', '49',
       '248', '2,098', '102', '887', '1,850', '1,666', '91', '1,694',
       '1,064', '77', '28', '30', '1,801', '21', '109', '3,711', '38',
       '62', '44', '2,336', '388', '232', '287', '46', '367', '977',
       '3,197', '1,306', '75', '793', '1,405', '1,993', '731', '602',
       '31', '3,385', '189', '1,325', '29', '76', '162', '1,371', '195',
       '563', '7', '69', '48', '363', '813', '57', '87', '177', '250',
       '3,220', '1,251', '4', '5', '121', '694', '2,531', '17', '1,087',
       '39', '34', '317', '197', '737', '585', '18', '52', '24', '1,108',
       '45', '216', '12', '178', '41', '1,047', '126', '11', '53', '160',
       '32', '60', '208', '1,329', '399', '33', '58', '35', '405', '88',
       '36', '610', '89', '1,997', '234', '2,657', '125', '65', '99',
       '132', '1,266', '207', '90', '56', '219', '13', '19', '612', '68',
       '6', '628', '15', '169', '78', '454', '95', '64', '14', '100',
       '309', '217', '54', '1,821', '113', '25', '101', '555', '51', '20',
       '362', '151', '1,327', '325', '130', '4,420', '196', '474', '149',
       '42', '142', '279', '1,309', '431', '574', '70', '137', '16', '26',
       '47', '1,101', '554', '1,355', '172', '415', '1,901', '192',
       '1,159', '175', '10', '83', '225', '599', '201', '37', '1,386',
       '2,757', '204', '98', '266', '63', '285', '402', '59', '1,764',
       '500', '224', '262', '629', '218', '119', '256', '268', '426',
       '1,490', '112', '637', '43', '209', '333', '155', '40', '9',
       '1,028', '1,029', '354', '322', '213', '310', '8', '1,073',
       '1,499', '123', '1,704', '306', '316', '190', '346', '370', '921',
       '84', '767', '1,233', '27', '522', '127', '988', '3,629', '2,155',
       '66', '50', '1,908', '258', '244', '408', '140', '71', '324',
       '781', '1,074', '357', '144', '129', '823', '281', '331', '1,199',
       '374', '179', '527', '2,400', '152', '597', '93', '1,094', '104',
       '255', '114', '79', '254', '170', '1,376', '82', '122', '499',
       '1,239', '55', '86', '670', '290', '168', '1,107', '103', '141',
       '97', '215', '136', '1,123', '330', '74', '660', '133', '253',
       '243', '1,468', '875', '108', '455', '1,952', '296', '542',
       '1,692', '135', '313', '146', '272', '1,456', '502', '180', '466',
       '188', '61', '105', '335', '212', '128', '341', '719', '203', '81',
       '433', '131', '284', '73', '323', '506', '1,298', '334', '337',
       '5,286', '908', '259', '867', '611', '1,127', '1,439', '72', '911',
       '1,390', '185', '1,053', '568', '293', '282', '508', '640',
       '1,238', '994', '1,092', '110', '10,639', '569', '148', '622',
       '529', '786', '286', '96', '329', '424', '2,395', '2,023', '280',
       '1,544', '922', '161', '327', '173', '906', '617', '452', '481',
       '222', '1,372', '360', '552', '538', '1,522', '808', '2,168',
       '745', '429', '888', '228', '2,385', '548', '1,516', '116', '384',
       '955', '1,392', '80', '525', '1,158', '235', '530', '223', '549',
       '395', '199', '798', '302', '603', '1,232', '2,805', '2,029',
       '409', '165', '239', '951', '425', '205', '489', '159', '648',
       '410', '240', '202', '245', '434', '153', '701', '2,669', '817',
       '858', '194', '971', '1,975', '956', '553', '158', '236', '920',
       '642', '221', '94', '600', '725', '834', '838', '726', '312',
       '1,250', '2,061', '822', '307', '299', '210', '1,015', '1,160',
       '929', '187', '782', '182', '406', '8,181', '2,222', '498', '647',
       '361', '260', '92', '107', '755', '1,017', '535', '166', '1,598',
       '156', '358', '264', '1,282', '1,743', '512', '251', '342',
       '2,251', '450', '294', '449', '943', '505', '273', '115', '732',
       '1,295', '343', '825', '1,096', '191', '460', '411', '383', '382',
       '927', '269', '311', '9,430', '265', '5,946', '154', '1,438',
       '621', '143', '1,696', '308', '668', '1,003', '345', '157', '261',
       '504', '900', '1,055', '206', '176', '478', '237', '174', '614',
       '665', '292', '193', '828', '3,054', '403', '267', '3,671', '246',
       '186', '4,062', '735', '871', '117', '230', '677', '1,046', '181',
       '303', '1,385', '1,580', '494', '397', '761', '145', '231',
       '2,512', '227', '400', '546', '774', '866', '1,277', '815',
       '1,476', '1,378', '4,015', '2,517', '700', '702', '993', '220',
       '249', '453', '422', '4,136', '533', '1,943', '591', '139', '332',
       '592', '6,468', '624', '658', '949', '818', '2,332', '472', '375',
       '351', '558', '682', '297', '416', '163', '2,083', '1,982',
       '1,135', '301', '2,622', '579', '1,118', '839', '1,042', '226',
       '444', '676', '328', '486', '1,293', '482', '283', '257', '964',
       '713', '242', '1,036', '458', '717', '1,052', '1,703', '171',
       '636', '870', '451', '721', '376', '347', '2,111', '1,404', '238',
       '394', '390', '705', '2,825', '915', '138', '430', '890', '344',
       '356', '736', '646', '3,182', '536', '440', '413', '765', '1,921',
       '879', '877', '124', '421', '827', '515', '760', '584', '805',
       '1,560', '355', '576', '491', '167', '381', '734', '436', '970',
       '276', '1,507', '407', '495', '551', '566', '396', '1,427', '961',
       '338', '350', '349', '1,453', '428', '369', '1,661', '1,855',
       '229', '513', '1,450', '1,480', '969', '2,037', '656', '471',
       '387', '465', '661', '1,272', '608', '484', '1,750', '1,106',
       '200', '4,919', '1,714', '348', '1,088', '891', '1,164', '414',
       '1,145', '2,356', '353', '469', '1,172', '1,090', '462', '1,219',
       '632', '470', '379', '477', '689', '445', '314', '270', '1,089',
       '442', '2,247', '1,091', '183', '2,166', '385', '531', '393',
       '623', '3,213', '2,103', '696', '418', '184', '288', '711', '613',
       '564', '378', '1,377', '398', '291', '986', '456', '1,881',
       '2,237', '1,504', '926', '295', '507', '3,898', '1,061', '468',
       '715', '663', '804', '1,448', '1,851', '800', '3,507', '441',
       '1,350', '1,269', '373', '606', '1,762', '475', '6,756', '2,719',
       '604', '1,197', '846', '2,311', '1,043', '981', '380', '571',
       '816', '1,253', '417', '575', '567', '339', '473', '164', '1,133',
       '902', '1,341', '899', '401', '277', '1,364', '1,025', '198',
       '2,109', '2,782', '787', '364', '881', '812', '518', '662',
       '1,254', '318', '437', '709', '247', '412', '720', '729', '996',
       '580', '935', '463', '1,463', '289', '1,767', '3,217', '443',
       '1,318', '1,002', '1,391', '488', '467', '368', '771', '1,410',
       '987', '952', '479', '590', '7,742', '321', '570', '644', '497',
       '493', '541', '404', '3,056', '650', '1,992', '524', '528',
       '2,078', '763', '679', '1,124', '1,482', '799', '589', '587',
       '365', '595', '1,795', '671', '252', '359', '4,232', '271',
       '1,120', '496', '1,671', '593', '633', '1,798', '6,382', '1,866',
       '757', '1,006', '2,169', '340', '6,006', '643', '1,962', '941',
       '315', '211', '1,730', '485', '631', '483', '1,067', '1,563',
       '688', '821', '523', '958', '438', '2,179', '562', '776', '652',
       '278', '304', '742', '305', '905', '934', '274', '1,175', '487',
       '386', '615', '708', '697', '550', '718', '565', '784', '1,050',
       '1,523', '802', '841', '1,914', '698', '1,177', '263', '912',
       '300', '2,630', '844', '510', '607', '537', '298', '7,337', '626',
       '853', '605', '352', '1,247', '319', '649', '872', '432', '886',
       '559', '3,805', '728', '439', '516', '695', '586', '753', '895',
       '1,409', '275', '638', '639', '520', '845', '954', '655', '1,740',
       '1,100', '706', '1,182', '645', '3,127', '581', '377', '490',
       '691', '371', '457', '641', '811', '389', '539', '509', '673',
       '464', '620', '627', '777', '320', '503', '461', '419', '2,152'],
      dtype=object)

In [ ]:
df['No of Persons Voted'] = df['No of Persons Voted'].rename("," "", inplace = True)

In [ ]:
df['No of Persons Voted'].unique()

array(['118', '241', '106', '147', '85', '4,102', '2,677', '446', '134',
       '22', '67', '23', '1,872', '120', '233', '111', '214', '150', '49',
       '248', '2,098', '102', '887', '1,850', '1,666', '91', '1,694',
       '1,064', '77', '28', '30', '1,801', '21', '109', '3,711', '38',
       '62', '44', '2,336', '388', '232', '287', '46', '367', '977',
       '3,197', '1,306', '75', '793', '1,405', '1,993', '731', '602',
       '31', '3,385', '189', '1,325', '29', '76', '162', '1,371', '195',
       '563', '7', '69', '48', '363', '813', '57', '87', '177', '250',
       '3,220', '1,251', '4', '5', '121', '694', '2,531', '17', '1,087',
       '39', '34', '317', '197', '737', '585', '18', '52', '24', '1,108',
       '45', '216', '12', '178', '41', '1,047', '126', '11', '53', '160',
       '32', '60', '208', '1,329', '399', '33', '58', '35', '405', '88',
       '36', '610', '89', '1,997', '234', '2,657', '125', '65', '99',
       '132', '1,266', '207', '90', '56', '219', '13', '19', '612', '68',
       '6', '628', '15', '169', '78', '454', '95', '64', '14', '100',
       '309', '217', '54', '1,821', '113', '25', '101', '555', '51', '20',
       '362', '151', '1,327', '325', '130', '4,420', '196', '474', '149',
       '42', '142', '279', '1,309', '431', '574', '70', '137', '16', '26',
       '47', '1,101', '554', '1,355', '172', '415', '1,901', '192',
       '1,159', '175', '10', '83', '225', '599', '201', '37', '1,386',
       '2,757', '204', '98', '266', '63', '285', '402', '59', '1,764',
       '500', '224', '262', '629', '218', '119', '256', '268', '426',
       '1,490', '112', '637', '43', '209', '333', '155', '40', '9',
       '1,028', '1,029', '354', '322', '213', '310', '8', '1,073',
       '1,499', '123', '1,704', '306', '316', '190', '346', '370', '921',
       '84', '767', '1,233', '27', '522', '127', '988', '3,629', '2,155',
       '66', '50', '1,908', '258', '244', '408', '140', '71', '324',
       '781', '1,074', '357', '144', '129', '823', '281', '331', '1,199',
       '374', '179', '527', '2,400', '152', '597', '93', '1,094', '104',
       '255', '114', '79', '254', '170', '1,376', '82', '122', '499',
       '1,239', '55', '86', '670', '290', '168', '1,107', '103', '141',
       '97', '215', '136', '1,123', '330', '74', '660', '133', '253',
       '243', '1,468', '875', '108', '455', '1,952', '296', '542',
       '1,692', '135', '313', '146', '272', '1,456', '502', '180', '466',
       '188', '61', '105', '335', '212', '128', '341', '719', '203', '81',
       '433', '131', '284', '73', '323', '506', '1,298', '334', '337',
       '5,286', '908', '259', '867', '611', '1,127', '1,439', '72', '911',
       '1,390', '185', '1,053', '568', '293', '282', '508', '640',
       '1,238', '994', '1,092', '110', '10,639', '569', '148', '622',
       '529', '786', '286', '96', '329', '424', '2,395', '2,023', '280',
       '1,544', '922', '161', '327', '173', '906', '617', '452', '481',
       '222', '1,372', '360', '552', '538', '1,522', '808', '2,168',
       '745', '429', '888', '228', '2,385', '548', '1,516', '116', '384',
       '955', '1,392', '80', '525', '1,158', '235', '530', '223', '549',
       '395', '199', '798', '302', '603', '1,232', '2,805', '2,029',
       '409', '165', '239', '951', '425', '205', '489', '159', '648',
       '410', '240', '202', '245', '434', '153', '701', '2,669', '817',
       '858', '194', '971', '1,975', '956', '553', '158', '236', '920',
       '642', '221', '94', '600', '725', '834', '838', '726', '312',
       '1,250', '2,061', '822', '307', '299', '210', '1,015', '1,160',
       '929', '187', '782', '182', '406', '8,181', '2,222', '498', '647',
       '361', '260', '92', '107', '755', '1,017', '535', '166', '1,598',
       '156', '358', '264', '1,282', '1,743', '512', '251', '342',
       '2,251', '450', '294', '449', '943', '505', '273', '115', '732',
       '1,295', '343', '825', '1,096', '191', '460', '411', '383', '382',
       '927', '269', '311', '9,430', '265', '5,946', '154', '1,438',
       '621', '143', '1,696', '308', '668', '1,003', '345', '157', '261',
       '504', '900', '1,055', '206', '176', '478', '237', '174', '614',
       '665', '292', '193', '828', '3,054', '403', '267', '3,671', '246',
       '186', '4,062', '735', '871', '117', '230', '677', '1,046', '181',
       '303', '1,385', '1,580', '494', '397', '761', '145', '231',
       '2,512', '227', '400', '546', '774', '866', '1,277', '815',
       '1,476', '1,378', '4,015', '2,517', '700', '702', '993', '220',
       '249', '453', '422', '4,136', '533', '1,943', '591', '139', '332',
       '592', '6,468', '624', '658', '949', '818', '2,332', '472', '375',
       '351', '558', '682', '297', '416', '163', '2,083', '1,982',
       '1,135', '301', '2,622', '579', '1,118', '839', '1,042', '226',
       '444', '676', '328', '486', '1,293', '482', '283', '257', '964',
       '713', '242', '1,036', '458', '717', '1,052', '1,703', '171',
       '636', '870', '451', '721', '376', '347', '2,111', '1,404', '238',
       '394', '390', '705', '2,825', '915', '138', '430', '890', '344',
       '356', '736', '646', '3,182', '536', '440', '413', '765', '1,921',
       '879', '877', '124', '421', '827', '515', '760', '584', '805',
       '1,560', '355', '576', '491', '167', '381', '734', '436', '970',
       '276', '1,507', '407', '495', '551', '566', '396', '1,427', '961',
       '338', '350', '349', '1,453', '428', '369', '1,661', '1,855',
       '229', '513', '1,450', '1,480', '969', '2,037', '656', '471',
       '387', '465', '661', '1,272', '608', '484', '1,750', '1,106',
       '200', '4,919', '1,714', '348', '1,088', '891', '1,164', '414',
       '1,145', '2,356', '353', '469', '1,172', '1,090', '462', '1,219',
       '632', '470', '379', '477', '689', '445', '314', '270', '1,089',
       '442', '2,247', '1,091', '183', '2,166', '385', '531', '393',
       '623', '3,213', '2,103', '696', '418', '184', '288', '711', '613',
       '564', '378', '1,377', '398', '291', '986', '456', '1,881',
       '2,237', '1,504', '926', '295', '507', '3,898', '1,061', '468',
       '715', '663', '804', '1,448', '1,851', '800', '3,507', '441',
       '1,350', '1,269', '373', '606', '1,762', '475', '6,756', '2,719',
       '604', '1,197', '846', '2,311', '1,043', '981', '380', '571',
       '816', '1,253', '417', '575', '567', '339', '473', '164', '1,133',
       '902', '1,341', '899', '401', '277', '1,364', '1,025', '198',
       '2,109', '2,782', '787', '364', '881', '812', '518', '662',
       '1,254', '318', '437', '709', '247', '412', '720', '729', '996',
       '580', '935', '463', '1,463', '289', '1,767', '3,217', '443',
       '1,318', '1,002', '1,391', '488', '467', '368', '771', '1,410',
       '987', '952', '479', '590', '7,742', '321', '570', '644', '497',
       '493', '541', '404', '3,056', '650', '1,992', '524', '528',
       '2,078', '763', '679', '1,124', '1,482', '799', '589', '587',
       '365', '595', '1,795', '671', '252', '359', '4,232', '271',
       '1,120', '496', '1,671', '593', '633', '1,798', '6,382', '1,866',
       '757', '1,006', '2,169', '340', '6,006', '643', '1,962', '941',
       '315', '211', '1,730', '485', '631', '483', '1,067', '1,563',
       '688', '821', '523', '958', '438', '2,179', '562', '776', '652',
       '278', '304', '742', '305', '905', '934', '274', '1,175', '487',
       '386', '615', '708', '697', '550', '718', '565', '784', '1,050',
       '1,523', '802', '841', '1,914', '698', '1,177', '263', '912',
       '300', '2,630', '844', '510', '607', '537', '298', '7,337', '626',
       '853', '605', '352', '1,247', '319', '649', '872', '432', '886',
       '559', '3,805', '728', '439', '516', '695', '586', '753', '895',
       '1,409', '275', '638', '639', '520', '845', '954', '655', '1,740',
       '1,100', '706', '1,182', '645', '3,127', '581', '377', '490',
       '691', '371', '457', '641', '811', '389', '539', '509', '673',
       '464', '620', '627', '777', '320', '503', '461', '419', '2,152'],
      dtype=object)

In [ ]:
df['Duration'] = df['Duration'].str.replace('  ', ':')

In [ ]:
df['No of Persons Voted'] = df['No of Persons Voted'].str.replace(',','')

In [ ]:
df['No of Persons Voted'].unique()

array(['118', '241', '106', '147', '85', '4102', '2677', '446', '134',
       '22', '67', '23', '1872', '120', '233', '111', '214', '150', '49',
       '248', '2098', '102', '887', '1850', '1666', '91', '1694', '1064',
       '77', '28', '30', '1801', '21', '109', '3711', '38', '62', '44',
       '2336', '388', '232', '287', '46', '367', '977', '3197', '1306',
       '75', '793', '1405', '1993', '731', '602', '31', '3385', '189',
       '1325', '29', '76', '162', '1371', '195', '563', '7', '69', '48',
       '363', '813', '57', '87', '177', '250', '3220', '1251', '4', '5',
       '121', '694', '2531', '17', '1087', '39', '34', '317', '197',
       '737', '585', '18', '52', '24', '1108', '45', '216', '12', '178',
       '41', '1047', '126', '11', '53', '160', '32', '60', '208', '1329',
       '399', '33', '58', '35', '405', '88', '36', '610', '89', '1997',
       '234', '2657', '125', '65', '99', '132', '1266', '207', '90', '56',
       '219', '13', '19', '612', '68', '6', '628', '15', '169', '78',
       '454', '95', '64', '14', '100', '309', '217', '54', '1821', '113',
       '25', '101', '555', '51', '20', '362', '151', '1327', '325', '130',
       '4420', '196', '474', '149', '42', '142', '279', '1309', '431',
       '574', '70', '137', '16', '26', '47', '1101', '554', '1355', '172',
       '415', '1901', '192', '1159', '175', '10', '83', '225', '599',
       '201', '37', '1386', '2757', '204', '98', '266', '63', '285',
       '402', '59', '1764', '500', '224', '262', '629', '218', '119',
       '256', '268', '426', '1490', '112', '637', '43', '209', '333',
       '155', '40', '9', '1028', '1029', '354', '322', '213', '310', '8',
       '1073', '1499', '123', '1704', '306', '316', '190', '346', '370',
       '921', '84', '767', '1233', '27', '522', '127', '988', '3629',
       '2155', '66', '50', '1908', '258', '244', '408', '140', '71',
       '324', '781', '1074', '357', '144', '129', '823', '281', '331',
       '1199', '374', '179', '527', '2400', '152', '597', '93', '1094',
       '104', '255', '114', '79', '254', '170', '1376', '82', '122',
       '499', '1239', '55', '86', '670', '290', '168', '1107', '103',
       '141', '97', '215', '136', '1123', '330', '74', '660', '133',
       '253', '243', '1468', '875', '108', '455', '1952', '296', '542',
       '1692', '135', '313', '146', '272', '1456', '502', '180', '466',
       '188', '61', '105', '335', '212', '128', '341', '719', '203', '81',
       '433', '131', '284', '73', '323', '506', '1298', '334', '337',
       '5286', '908', '259', '867', '611', '1127', '1439', '72', '911',
       '1390', '185', '1053', '568', '293', '282', '508', '640', '1238',
       '994', '1092', '110', '10639', '569', '148', '622', '529', '786',
       '286', '96', '329', '424', '2395', '2023', '280', '1544', '922',
       '161', '327', '173', '906', '617', '452', '481', '222', '1372',
       '360', '552', '538', '1522', '808', '2168', '745', '429', '888',
       '228', '2385', '548', '1516', '116', '384', '955', '1392', '80',
       '525', '1158', '235', '530', '223', '549', '395', '199', '798',
       '302', '603', '1232', '2805', '2029', '409', '165', '239', '951',
       '425', '205', '489', '159', '648', '410', '240', '202', '245',
       '434', '153', '701', '2669', '817', '858', '194', '971', '1975',
       '956', '553', '158', '236', '920', '642', '221', '94', '600',
       '725', '834', '838', '726', '312', '1250', '2061', '822', '307',
       '299', '210', '1015', '1160', '929', '187', '782', '182', '406',
       '8181', '2222', '498', '647', '361', '260', '92', '107', '755',
       '1017', '535', '166', '1598', '156', '358', '264', '1282', '1743',
       '512', '251', '342', '2251', '450', '294', '449', '943', '505',
       '273', '115', '732', '1295', '343', '825', '1096', '191', '460',
       '411', '383', '382', '927', '269', '311', '9430', '265', '5946',
       '154', '1438', '621', '143', '1696', '308', '668', '1003', '345',
       '157', '261', '504', '900', '1055', '206', '176', '478', '237',
       '174', '614', '665', '292', '193', '828', '3054', '403', '267',
       '3671', '246', '186', '4062', '735', '871', '117', '230', '677',
       '1046', '181', '303', '1385', '1580', '494', '397', '761', '145',
       '231', '2512', '227', '400', '546', '774', '866', '1277', '815',
       '1476', '1378', '4015', '2517', '700', '702', '993', '220', '249',
       '453', '422', '4136', '533', '1943', '591', '139', '332', '592',
       '6468', '624', '658', '949', '818', '2332', '472', '375', '351',
       '558', '682', '297', '416', '163', '2083', '1982', '1135', '301',
       '2622', '579', '1118', '839', '1042', '226', '444', '676', '328',
       '486', '1293', '482', '283', '257', '964', '713', '242', '1036',
       '458', '717', '1052', '1703', '171', '636', '870', '451', '721',
       '376', '347', '2111', '1404', '238', '394', '390', '705', '2825',
       '915', '138', '430', '890', '344', '356', '736', '646', '3182',
       '536', '440', '413', '765', '1921', '879', '877', '124', '421',
       '827', '515', '760', '584', '805', '1560', '355', '576', '491',
       '167', '381', '734', '436', '970', '276', '1507', '407', '495',
       '551', '566', '396', '1427', '961', '338', '350', '349', '1453',
       '428', '369', '1661', '1855', '229', '513', '1450', '1480', '969',
       '2037', '656', '471', '387', '465', '661', '1272', '608', '484',
       '1750', '1106', '200', '4919', '1714', '348', '1088', '891',
       '1164', '414', '1145', '2356', '353', '469', '1172', '1090', '462',
       '1219', '632', '470', '379', '477', '689', '445', '314', '270',
       '1089', '442', '2247', '1091', '183', '2166', '385', '531', '393',
       '623', '3213', '2103', '696', '418', '184', '288', '711', '613',
       '564', '378', '1377', '398', '291', '986', '456', '1881', '2237',
       '1504', '926', '295', '507', '3898', '1061', '468', '715', '663',
       '804', '1448', '1851', '800', '3507', '441', '1350', '1269', '373',
       '606', '1762', '475', '6756', '2719', '604', '1197', '846', '2311',
       '1043', '981', '380', '571', '816', '1253', '417', '575', '567',
       '339', '473', '164', '1133', '902', '1341', '899', '401', '277',
       '1364', '1025', '198', '2109', '2782', '787', '364', '881', '812',
       '518', '662', '1254', '318', '437', '709', '247', '412', '720',
       '729', '996', '580', '935', '463', '1463', '289', '1767', '3217',
       '443', '1318', '1002', '1391', '488', '467', '368', '771', '1410',
       '987', '952', '479', '590', '7742', '321', '570', '644', '497',
       '493', '541', '404', '3056', '650', '1992', '524', '528', '2078',
       '763', '679', '1124', '1482', '799', '589', '587', '365', '595',
       '1795', '671', '252', '359', '4232', '271', '1120', '496', '1671',
       '593', '633', '1798', '6382', '1866', '757', '1006', '2169', '340',
       '6006', '643', '1962', '941', '315', '211', '1730', '485', '631',
       '483', '1067', '1563', '688', '821', '523', '958', '438', '2179',
       '562', '776', '652', '278', '304', '742', '305', '905', '934',
       '274', '1175', '487', '386', '615', '708', '697', '550', '718',
       '565', '784', '1050', '1523', '802', '841', '1914', '698', '1177',
       '263', '912', '300', '2630', '844', '510', '607', '537', '298',
       '7337', '626', '853', '605', '352', '1247', '319', '649', '872',
       '432', '886', '559', '3805', '728', '439', '516', '695', '586',
       '753', '895', '1409', '275', '638', '639', '520', '845', '954',
       '655', '1740', '1100', '706', '1182', '645', '3127', '581', '377',
       '490', '691', '371', '457', '641', '811', '389', '539', '509',
       '673', '464', '620', '627', '777', '320', '503', '461', '419',
       '2152'], dtype=object)

In [ ]:
df['No of Persons Voted'] = df['No of Persons Voted'].astype('int')

In [ ]:
df['No of Persons Voted'].describe()

count    16290.000000
mean       132.686618
std        362.970571
min          4.000000
25%         10.000000
50%         29.000000
75%        110.000000
max      10639.000000
Name: No of Persons Voted, dtype: float64

In [ ]:
df.all()

Unnamed: 0             False
Title                   True
Release Date            True
Description             True
Rating                  True
No of Persons Voted     True
Directed by             True
Written by              True
Duration                True
Genres                  True
dtype: bool

In [ ]:
df['Release Date']

0        Mar 22, 1996
1        Nov 23, 1994
2        Oct 22, 1970
3        Mar 13, 1972
4        Aug 13, 2004
             ...
16285    Apr 27, 2001
16286    Dec 10, 2010
16287     Oct 1, 2000
16288    Jun 20, 2003
16289    Jan 17, 2003
Name: Release Date, Length: 16290, dtype: object

In [ ]:
df['Release Date'].isnull().sum()

np.int64(0)

In [ ]:
df.isnull().sum()

Unnamed: 0                0
Title                     0
Release Date              0
Description               0
Rating                 3444
No of Persons Voted       0
Directed by               7
Written by              963
Duration                 13
Genres                    0
dtype: int64

In [ ]:
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [ ]:
df['Rating'].isnull().sum()

np.int64(0)

In [ ]:
df['Written by'] = df['Written by'].fillna(method = 'ffill')

C:\Users\USER\AppData\Local\Temp\ipykernel_6320\1939221209.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Written by'] = df['Written by'].fillna(method = 'ffill')

In [ ]:
df['Directed by'] = df['Directed by'].fillna(method = 'ffill')

C:\Users\USER\AppData\Local\Temp\ipykernel_6320\3387351354.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Directed by'] = df['Directed by'].fillna(method = 'ffill')

In [ ]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Release Date            0
Description             0
Rating                  0
No of Persons Voted     0
Directed by             0
Written by              0
Duration               13
Genres                  0
dtype: int64

In [ ]:
df['Duration'] = df['Duration'].fillna(method = 'ffill')

C:\Users\USER\AppData\Local\Temp\ipykernel_6320\4286404772.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Duration'] = df['Duration'].fillna(method = 'ffill')

In [ ]:
df.isnull().sum()

Unnamed: 0             0
Title                  0
Release Date           0
Description            0
Rating                 0
No of Persons Voted    0
Directed by            0
Written by             0
Duration               0
Genres                 0
dtype: int64

In [ ]:

df.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
df.head()

,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [ ]:
df.isnull().sum()

Unnamed: 0             0
Title                  0
Release Date           0
Description            0
Rating                 0
No of Persons Voted    0
Directed by            0
Written by             0
Duration               0
Genres                 0
dtype: int64

In [ ]:
df.shape

(16290, 10)

In [ ]:
# pd.set_option('max_columns',200)

In [ ]:
df.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Description', 'Rating',
       'No of Persons Voted', 'Directed by', 'Written by', 'Duration',
       'Genres'],
      dtype='object')

In [ ]:
df.describe()

         Unnamed: 0        Rating
count  16290.000000  16290.000000
mean    8144.500000      6.617632
std     4702.662278      1.256782
min        0.000000      0.300000
25%     4072.250000      6.100000
50%     8144.500000      6.617632
75%    12216.750000      7.400000
max    16289.000000     10.000000

In [ ]:
df['No of Persons Voted'] = pd.to_numeric(df['No of Persons Voted'])

ValueError: Unable to parse string "4,102" at position 5

In [ ]:
df['No of Persons Voted'] = df['No of Persons Voted'].str.replace(',' ,'')

In [ ]:
df['No of Persons Voted'] = pd.to_numeric(df['No of Persons Voted'])

In [ ]:
df.describe()

         Unnamed: 0        Rating  No of Persons Voted
count  16290.000000  16290.000000         16290.000000
mean    8144.500000      6.617632           132.686618
std     4702.662278      1.256782           362.970571
min        0.000000      0.300000             4.000000
25%     4072.250000      6.100000            10.000000
50%     8144.500000      6.617632            29.000000
75%    12216.750000      7.400000           110.000000
max    16289.000000     10.000000         10639.000000

In [ ]:
df['Release Date'] = pd.to_datetime(df['Release Date'])

In [ ]:
df.dtypes

Unnamed: 0                      int64
Title                          object
Release Date           datetime64[ns]
Description                    object
Rating                        float64
No of Persons Voted             int64
Directed by                    object
Written by                     object
Duration                       object
Genres                         object
dtype: object

In [37]:
df['Duration'] = df['Duration'].str.replace(len(df['Duration']) >= 11 , '1 h 45 m')

In [38]:
df['Duration'].unique()

array([nan])

In [ ]:
df['Duration']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
16285   NaN
16286   NaN
16287   NaN
16288   NaN
16289   NaN
Name: Duration, Length: 16290, dtype: float64