In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('16k_Movies.csv')
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [2]:
df.tail()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
16285,16285,Boys to Men,"Apr 27, 2001",Compilation of 4 short films from different di...,NaN,NaN,NaN,NaN,\n https://www.amazon.com/Boys-Men-Phil...,Drama
16286,16286,Saint Misbehavin': The Wavy Gravy Movie,"Dec 10, 2010","Beginning with Woodstock ‘99, director Michell...",NaN,NaN,Michelle Esrick,NaN,Not Rated,Documentary
16287,16287,Collectors,"Oct 1, 2000",America is drawn to the macabre handiwork of t...,NaN,NaN,Julian P. Hobbs,NaN,1 h 20 m,Documentary
16288,16288,Bonhoeffer,"Jun 20, 2003",Dramatic documentary about the young German pa...,NaN,NaN,Martin Doblmeier,Martin Doblmeier,1 h 33 m,"Documentary,Biography,History,War"
16289,16289,7th Street,"Jan 17, 2003",This documentary explores change in one of the...,NaN,NaN,Josh Pais,Josh Pais,\n http://www.7thstreetmovie.com/\n ...,Documentary

In [3]:
df.all()

Unnamed: 0             False
Title                   True
Release Date            True
Description             True
Rating                  True
No of Persons Voted     True
Directed by             True
Written by              True
Duration                True
Genres                  True
dtype: bool

In [4]:
df.isnull().sum()

Unnamed: 0                0
Title                     0
Release Date              0
Description               0
Rating                 3444
No of Persons Voted    3461
Directed by               7
Written by              963
Duration                 13
Genres                    5
dtype: int64

In [5]:
df['Title']

0                                 Dekalog (1988)
1                              Three Colors: Red
2                                 The Conformist
3                                    Tokyo Story
4                       The Leopard (re-release)
                          ...
16285                                Boys to Men
16286    Saint Misbehavin': The Wavy Gravy Movie
16287                                 Collectors
16288                                 Bonhoeffer
16289                                 7th Street
Name: Title, Length: 16290, dtype: object

In [6]:
df['Title'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
16285    False
16286    False
16287    False
16288    False
16289    False
Name: Title, Length: 16290, dtype: bool

In [7]:
df['Rating'].unique()

array([ 7.4,  8.3,  7.3,  8.1,  7.8,  9.3,  7.5,  8.6,  8.4,  7.7,  nan,
        6.3,  8.8,  8.2,  8.5,  8. ,  8.7,  7.6,  7.9,  6.1,  6.9,  5.7,
        6.8,  8.9,  7. ,  6.5,  5.5,  7.1,  7.2,  4.9,  5.3,  5.9,  4.8,
        6.4,  0.9,  9. ,  6. ,  5.1,  6.7,  6.6,  5.4,  9.1,  2.5,  5.2,
        6.2,  5. ,  4. ,  3.9,  4.7,  2. ,  4.3,  5.6,  4.5,  5.8,  9.2,
        4.4,  4.1,  9.8,  3.5,  3.8,  3. ,  4.2,  2.8,  0.6,  3.4,  2.4,
        2.2,  2.3,  9.4,  4.6,  3.6,  3.2,  2.7,  9.6,  2.9,  3.3,  9.7,
        3.7,  9.5,  1.6,  1.8,  1. ,  1.3,  2.1,  3.1,  1.5,  1.7,  9.9,
        1.9,  0.8,  2.6,  0.4,  0.3,  0.5,  1.4,  1.1,  1.2,  0.7, 10. ])

In [8]:
df['Rating'].describe()

count    12846.000000
mean         6.617632
std          1.415272
min          0.300000
25%          5.800000
50%          6.800000
75%          7.600000
max         10.000000
Name: Rating, dtype: float64

In [9]:
df.describe()

         Unnamed: 0        Rating
count  16290.000000  12846.000000
mean    8144.500000      6.617632
std     4702.662278      1.415272
min        0.000000      0.300000
25%     4072.250000      5.800000
50%     8144.500000      6.800000
75%    12216.750000      7.600000
max    16289.000000     10.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  object
 3   Description          16290 non-null  object
 4   Rating               12846 non-null  float64
 5   No of Persons Voted  12829 non-null  object
 6   Directed by          16283 non-null  object
 7   Written by           15327 non-null  object
 8   Duration             16277 non-null  object
 9   Genres               16285 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

# No 1

In [11]:
df['Rating'].isnull().sum()

np.int64(3444)

In [12]:
per_missing_rating = df['Rating'].isnull().sum()/len(df['Rating']) * 100
per_missing_rating

np.float64(21.141804788213626)

In [13]:
per_missing_description = df['Description'].isnull().sum()/len(df['Description']) * 100
per_missing_description

np.float64(0.0)

In [14]:
per_missing_directed_by = df['Directed by'].isnull().sum()/len(df['Directed by']) * 100
per_missing_directed_by

np.float64(0.042971147943523635)

In [15]:
per_missing_written_by = df['Written by'].isnull().sum()/len(df['Written by']) * 100
per_missing_written_by

np.float64(5.911602209944752)

# TO FILL UP THE NULL VALUES

In [16]:
df.isnull()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
16285,False,False,False,False,True,True,True,True,False,False
16286,False,False,False,False,True,True,False,True,False,False
16287,False,False,False,False,True,True,False,True,False,False
16288,False,False,False,False,True,True,False,False,False,False
16289,False,False,False,False,True,True,False,False,False,False

In [17]:
df.tail()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
16285,16285,Boys to Men,"Apr 27, 2001",Compilation of 4 short films from different di...,NaN,NaN,NaN,NaN,\n https://www.amazon.com/Boys-Men-Phil...,Drama
16286,16286,Saint Misbehavin': The Wavy Gravy Movie,"Dec 10, 2010","Beginning with Woodstock ‘99, director Michell...",NaN,NaN,Michelle Esrick,NaN,Not Rated,Documentary
16287,16287,Collectors,"Oct 1, 2000",America is drawn to the macabre handiwork of t...,NaN,NaN,Julian P. Hobbs,NaN,1 h 20 m,Documentary
16288,16288,Bonhoeffer,"Jun 20, 2003",Dramatic documentary about the young German pa...,NaN,NaN,Martin Doblmeier,Martin Doblmeier,1 h 33 m,"Documentary,Biography,History,War"
16289,16289,7th Street,"Jan 17, 2003",This documentary explores change in one of the...,NaN,NaN,Josh Pais,Josh Pais,\n http://www.7thstreetmovie.com/\n ...,Documentary

In [18]:
# FILLING THE NULL CELLS WITHT THE MEAN OF THE COLUMN
df['Rating'].fillna(np.mean(df['Rating']), inplace = True)
df['Rating'].isnull().sum()

C:\Users\USER\AppData\Local\Temp\ipykernel_2184\272988431.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(np.mean(df['Rating']), inplace = True)

np.int64(0)

In [19]:
df.tail()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
16285,16285,Boys to Men,"Apr 27, 2001",Compilation of 4 short films from different di...,6.617632,NaN,NaN,NaN,\n https://www.amazon.com/Boys-Men-Phil...,Drama
16286,16286,Saint Misbehavin': The Wavy Gravy Movie,"Dec 10, 2010","Beginning with Woodstock ‘99, director Michell...",6.617632,NaN,Michelle Esrick,NaN,Not Rated,Documentary
16287,16287,Collectors,"Oct 1, 2000",America is drawn to the macabre handiwork of t...,6.617632,NaN,Julian P. Hobbs,NaN,1 h 20 m,Documentary
16288,16288,Bonhoeffer,"Jun 20, 2003",Dramatic documentary about the young German pa...,6.617632,NaN,Martin Doblmeier,Martin Doblmeier,1 h 33 m,"Documentary,Biography,History,War"
16289,16289,7th Street,"Jan 17, 2003",This documentary explores change in one of the...,6.617632,NaN,Josh Pais,Josh Pais,\n http://www.7thstreetmovie.com/\n ...,Documentary

In [20]:
df.fillna({No of Persons Voted: df['No of Persons Voted'].mean()}, inplace=True)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (189299606.py, line 1)

In [ ]:
df[No of Persons Voted] = df[No of Persons Voted].fillna(df['No of Persons Voted'].mean(), inplace = True)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (463149225.py, line 1)

In [ ]:
# FILLING THE NULL CELLS WITHT THE MEAN OF THE COLUMN
df['No of Persons Voted'].fillna(np.mean(df['No of Persons Voted']), inplace = True)
df['No of Persons Voted'].isnull().sum()

TypeError: can only concatenate str (not "int") to str

In [ ]:
df['No of Persons Voted'].describe()

count     12829
unique      977
top           4
freq        600
Name: No of Persons Voted, dtype: object

In [ ]:
# filling the strings using forward fill method
df.fillna(method = 'ffill', inplace = True)
df.tail()

C:\Users\USER\AppData\Local\Temp\ipykernel_2296\1970251742.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill', inplace = True)

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
16285,16285,Boys to Men,"Apr 27, 2001",Compilation of 4 short films from different di...,6.617632,10,Mark Christensen,"Mark Christensen, Brian Hamill",\n https://www.amazon.com/Boys-Men-Phil...,Drama
16286,16286,Saint Misbehavin': The Wavy Gravy Movie,"Dec 10, 2010","Beginning with Woodstock ‘99, director Michell...",6.617632,10,Michelle Esrick,"Mark Christensen, Brian Hamill",Not Rated,Documentary
16287,16287,Collectors,"Oct 1, 2000",America is drawn to the macabre handiwork of t...,6.617632,10,Julian P. Hobbs,"Mark Christensen, Brian Hamill",1 h 20 m,Documentary
16288,16288,Bonhoeffer,"Jun 20, 2003",Dramatic documentary about the young German pa...,6.617632,10,Martin Doblmeier,Martin Doblmeier,1 h 33 m,"Documentary,Biography,History,War"
16289,16289,7th Street,"Jan 17, 2003",This documentary explores change in one of the...,6.617632,10,Josh Pais,Josh Pais,\n http://www.7thstreetmovie.com/\n ...,Documentary

In [ ]:
  df['Rating'].describe()

count    16290.000000
mean         6.617632
std          1.256782
min          0.300000
25%          6.100000
50%          6.617632
75%          7.400000
max         10.000000
Name: Rating, dtype: float64

In [ ]:
 # HOW MANY UNIQUE VALUES ARE IN THE COLUMN OF GENRE
 
 df['Genres'].describe()

count     16290
unique     1663
top       Drama
freq       1521
Name: Genres, dtype: object

In [ ]:
# identify any extreme outliers using Z-scored:
from scipy import stats
z_scores = stats.zscore(df['Rating'])
outliers = df[(z_scores > 3) | (z_scores < -3)]
print(outliers)

       Unnamed: 0                          Title  Release Date  \
156           156  Never Rarely Sometimes Always  Mar 13, 2020
262           262                    Wojnarowicz  Mar 19, 2021
507           507            Maria Full of Grace  Jul 16, 2004
518           518                 The Wicker Man   Aug 7, 1974
519           519                 The Wicker Man   Aug 7, 1974
...           ...                            ...           ...
16273       16273                      Strippers   Dec 8, 2000
16274       16274                         Vulgar  Apr 26, 2002
16276       16276             The Singing Forest  Nov 14, 2003
16277       16277    The Garbage Pail Kids Movie  Aug 22, 1987
16279       16279                United Passions   Jun 5, 2015

                                             Description  Rating  \
156    Faced with an unintended pregnancy and a lack ...     0.9
262    Wojnarowicz: F**k You F*ggot F**ker is a fiery...     2.5
507    This film follows a bright, gutsy young woman ...     2.0
518    A police sergeant is sent to a Scottish island...     2.0
519    A police sergeant is sent to a Scottish island...     2.0
...                                                  ...     ...
16273  Alan is having an horrendous day...he loses hi...     2.7
16274  The misadventures of Will, a struggling profes...     2.0
16276  Two lovers, killed during the Holocaust, are r...     1.7
16277  Dodger must confront the struggles of life as ...     1.0
16279  Three men—Jules Rimet (Gérard Depardieu), Joao...     0.8

      No of Persons Voted        Directed by  \
156                 1,997      Eliza Hittman
262                     4        Chris McKim
507                   197     Joshua Marston
518                   152        Neil LaBute
519                   152        Neil LaBute
...                   ...                ...
16273                  16        Jorge Ameer
16274                  49      Bryan Johnson
16276                  32        Jorge Ameer
16277                  21        Rod Amateau
16279                 248  Frédéric Auburtin

                                        Written by  Duration  \
156                                  Eliza Hittman  1 h 41 m
262    Julian Fellowes, Robert Altman, Bob Balaban  1 h 45 m
507                                 Joshua Marston  1 h 41 m
518                   Neil LaBute, Anthony Shaffer  1 h 42 m
519                   Neil LaBute, Anthony Shaffer  1 h 42 m
...                                            ...       ...
16273                                  Jorge Ameer  1 h 11 m
16274                                Bryan Johnson  1 h 27 m
16276                                  Jorge Ameer  1 h 35 m
16277        Linda Palmer, Rod Amateau, John Pound  1 h 40 m
16279         Frédéric Auburtin, Jean-Paul Delfino  1 h 50 m

                                        Genres
156                                      Drama
262                                Documentary
507                                Crime,Drama
518                    Horror,Mystery,Thriller
519                    Horror,Mystery,Thriller
...                                        ...
16273                             Drama,Comedy
16274                     Crime,Drama,Thriller
16276                    Drama,Fantasy,Romance
16277  Adventure,Comedy,Family,Fantasy,Musical
16279                      Drama,History,Sport

[215 rows x 10 columns]

In [ ]:
 len(df['Genres'].unique())

1663

In [ ]:
# to know the highest unique values
df['Genres'].value_counts()

Genres
Drama                                                                     1521
Documentary                                                               1018
Comedy,Drama                                                               788
Comedy,Drama,Romance                                                       644
Drama,Romance                                                              575
                                                                          ...
Animation,Adventure,Comedy,Drama,Family,Fantasy,Mystery,Romance,Sci-Fi       1
Documentary,Biography,Comedy,Drama,Family                                    1
Animation,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi        1
Documentary,Biography,Drama,History,Mystery                                  1
Comedy,Crime,Family,Sci-Fi                                                   1
Name: count, Length: 1663, dtype: int64

In [ ]:
# to configure the date 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  object
 3   Description          16290 non-null  object
 4   Rating               16290 non-null  float64
 5   No of Persons Voted  16290 non-null  object
 6   Directed by          16290 non-null  object
 7   Written by           16290 non-null  object
 8   Duration             16290 non-null  object
 9   Genres               16290 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [ ]:
df['Release Date'] = pd.to_datetime(df['Release Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  datetime64[ns]
 3   Description          16290 non-null  object
 4   Rating               16290 non-null  float64
 5   No of Persons Voted  16290 non-null  object
 6   Directed by          16290 non-null  object
 7   Written by           16290 non-null  object
 8   Duration             16290 non-null  object
 9   Genres               16290 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [ ]:
df['Release Date'].value_counts()

Release Date
2017-04-07    21
2013-10-18    20
2013-10-04    20
2013-11-01    20
2017-03-03    19
              ..
2023-12-05     1
2004-01-21     1
1983-04-24     1
2005-11-30     1
2000-10-01     1
Name: count, Length: 3855, dtype: int64

In [ ]:
df['Release Date']

0       1996-03-22
1       1994-11-23
2       1970-10-22
3       1972-03-13
4       2004-08-13
           ...
16285   2001-04-27
16286   2010-12-10
16287   2000-10-01
16288   2003-06-20
16289   2003-01-17
Name: Release Date, Length: 16290, dtype: datetime64[ns]

In [ ]:
df['Title'].duplicated().sum()

np.int64(1597)

In [ ]:
df['Title']

0                                 Dekalog (1988)
1                              Three Colors: Red
2                                 The Conformist
3                                    Tokyo Story
4                       The Leopard (re-release)
                          ...
16285                                Boys to Men
16286    Saint Misbehavin': The Wavy Gravy Movie
16287                                 Collectors
16288                                 Bonhoeffer
16289                                 7th Street
Name: Title, Length: 16290, dtype: object

In [ ]:
# trying to drop the duplicated values
df['Title'].drop_duplicates()

0                                 Dekalog (1988)
1                              Three Colors: Red
2                                 The Conformist
3                                    Tokyo Story
4                       The Leopard (re-release)
                          ...
16285                                Boys to Men
16286    Saint Misbehavin': The Wavy Gravy Movie
16287                                 Collectors
16288                                 Bonhoeffer
16289                                 7th Street
Name: Title, Length: 14693, dtype: object

In [ ]:
df['Title'].duplicated().sum()

np.int64(1597)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  datetime64[ns]
 3   Description          16290 non-null  object
 4   Rating               16290 non-null  float64
 5   No of Persons Voted  16290 non-null  object
 6   Directed by          16290 non-null  object
 7   Written by           16290 non-null  object
 8   Duration             16290 non-null  object
 9   Genres               16290 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [ ]:
# to check the frequency distribution of the column called Directed by and written by column
df['Directed by'].describe()

count           16290
unique           7379
top       Woody Allen
freq               50
Name: Directed by, dtype: object

In [ ]:
df['Written by'].describe()

count           16290
unique          11787
top       Woody Allen
freq               46
Name: Written by, dtype: object

In [ ]:
# to create a new column that classifies movies based on their duration as short or long movies
df['Duration'].info()

NameError: name 'df' is not defined

In [ ]:
df['Duration']

0                                                 9 h 32 m
1                                                 1 h 39 m
2                                                 1 h 47 m
3                                                 2 h 16 m
4                                                  3 h 7 m
                               ...
16285    \n        https://www.amazon.com/Boys-Men-Phil...
16286                                            Not Rated
16287                                             1 h 20 m
16288                                             1 h 33 m
16289    \n        http://www.7thstreetmovie.com/\n    ...
Name: Duration, Length: 16290, dtype: object

In [ ]:
df['Duration'] = pd.to_timedelta(df['Duration'])

NameError: name 'pd' is not defined

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
df.tail()

NameError: name 'df' is not defined

In [ ]:
# filling the strings using forward fill method
df['No of Persons Voted'].fillna(method = 'ffill', inplace = True)
df.tail()

NameError: name 'df' is not defined

In [ ]:
# filling the strings using forward fill method
df['Directed by'].fillna(method = 'ffill', inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Written by'].fillna(method = 'ffill', inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].fillna(method = 'ffill', inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Genres'].fillna(method = 'ffill', inplace = True)

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
df['Duration'] = pd.to_timedelta(df['Duration'])

NameError: name 'pd' is not defined

In [ ]:
df['Duration'].add('00| s')

NameError: name 'df' is not defined

In [ ]:
df['Duration'] = pd.to_timedelta(df['Duration'])

NameError: name 'pd' is not defined

In [ ]:
df['Duration'].replace(' h', ':', inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration']

NameError: name 'df' is not defined

In [ ]:
df['No of Persons Voted'] = df['No of Persons Voted'].str.replace(',', "").astype(int)

NameError: name 'df' is not defined

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
# converting the Rating column to int
df['Rating'] = df['Rating'].astype(int)

NameError: name 'df' is not defined

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df['Rating']

NameError: name 'df' is not defined

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].replace({'Not Rated': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].replace({'\n        http://www.7thart.com/current/creature/creature.html\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.killerofsheep.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        https://www.kinolorber.com/film/hit-the-road\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        https://www.kinolorber.com/film/hit-the-road\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.7thstreetmovie.com/\n        ': '1 h 10m'}, inplace = True)

df['Duration'].replace({'\n        https://www.amazon.com/Boys-Men-Phillip-Bartell/dp/B00005UF80\n        ': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].replace({'\n        http://www.delicacyfilm.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.filmmovement.com/libraries/index.asp?MerchandiseID=573\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        https://www.foxmovies.com/movies/once-upon-a-deadpool\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.dogsweatthefilm.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'Unrated': '1 h 10m'}, inplace = True)
df['Duration'].replace({      'TV-MA'
: '1 h 10m'}, inplace = True)

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
       ,
       ,
       ,
       '\n        http://www.picturethisent.com/minisites/youilove/index.html\n        ',
df['Duration'].replace({'\n        http://kabakovfilm.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'Is the " School of the Americas" a force of democracy or a "School of Assassins"?': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.tamala2010.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.picturethisent.com/minisites/youilove/index.html\n        ': '1 h 10m'}, inplace = True)

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:

df['Duration'].replace({'\n        http://www.pbs.org/pov/pov1998/sacrifice/index.html\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({df['Duration'].replace({'\n        http://www.pbs.org/pov/pov1998/sacrifice/index.html\n        ': '1 h 10m'}, inplace = True)
: '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
df=df.drop_duplicates()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
  

df['Duration'].replace({'\n        https://www.factorytwentyfive.com/superior\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.maureengosling.com/ramo/about/about.html\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://combatobscura.oscilloscope.net/\n        ': '1 h 10m'}, inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_2296\2489299340.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Duration'].replace({'\n        https://www.factorytwentyfive.com/superior\n        ': '1 h 10m'}, inplace = True)

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
  

df['Duration'].replace({'\n        https://www.kinolorber.com/film/chef-flynn\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'A history of the Mariel Boatlift': '1 h 10m'}, inplace = True)
df['Duration'].replace({'The story of how truth became the first American casualty in Iraq.': '1 h 10m'}, inplace = True)

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
   

df['Duration'].replace({'\n        https://www.lionsgate.com/movies/the-cotton-club-encore\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'TV-G': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.gracelee.net/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.alma-films.com/\n        ': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:




df['Duration'].replace({"RADICAL WOLFE is the first feature film to explore Tom Wolfe's life and work, a man who pioneered disruptive journalism, challenged American obsessions and overused punctuation way before it was cool. Tom didn't just document America, he dipped his pen in acid and took readers on a vivid trip through the summer of love, landing on the moon and 1980s Wall Street money-grubbing.": '1 h 10m'}, inplace = True)
df['Duration'].replace({'Inside the car is another world.': '1 h 10m'}, inplace = True)
df['Duration'].replace({"Once you believe something is possible, it's done already.": '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:



df['Duration'].replace({'\n        http://www.samuelgoldwynfilms.com/cowboys/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://advancedstylefilm.com/\n        ': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:


df['Duration'].replace({'\n        http://www.itvs.org/external/WGOOS/WGMAIN.html\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'On October 20, 2012, American Journalist Theo Padaos Was Kidnapped in Syria. This is His Story.': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:



df['Duration'].replace({'\n        http://aspaceprogram.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.filmmovement.com/libraries/index.asp?MerchandiseID=462\n        ': '1 h 10m'}, inplace = True)

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:



df['Duration'].replace({'\n        http://www.falloffujimori.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://www.facebook.com/pages/Iron-Crows-Movie/201713159275#!/pages/Iron-Crows-Movie/201713159275?sk=info\n        ': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:


df['Duration'].replace({'TV-PG': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        https://greenwichentertainment.com/film/hello-bookstore/\n        ': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:


df['Duration'].replace({'\n        http://www.youdontlikethetruth.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].replace({'\n        http://karlmarxcity.com/\n        ': '1 h 10m'}, inplace = True)
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:

df['Duration'].replace({'One war ends. Another begins.': '1 h 10m'}, inplace = True)

NameError: name 'df' is not defined

In [21]:
df['Duration'].unique()

array(['9 h 32 m', '1 h 39 m', '1 h 47 m', '2 h 16 m', '3 h 7 m',
       '2 h 55 m', '2 h 45 m', '3 h 36 m', '3 h 8 m', '2 h 35 m',
       '2 h 25 m', '1 h 31 m', '1 h 34 m', '1 h 58 m', '2 h 50 m',
       '2 h 33 m', '1 h 43 m', '2 h 42 m', '1 h 41 m', '2 h 2 m',
       '1 h 53 m', '2 h 12 m', '1 h 50 m', '2 h 15 m', '2 h 5 m',
       '1 h 21 m', '1 h 57 m', '2 h 14 m', '2 h 17 m', '2 h 1 m',
       '\n        http://www.killerofsheep.com/\n        ', '2 h 40 m',
       '1 h 51 m', '3 h 10 m', '1 h 52 m', '1 h 33 m', '1 h 8 m', '2 h',
       'TV-MA', '2 h 43 m', '1 h 38 m', '2 h 7 m', '2 h 11 m', '2 h 34 m',
       '2 h 37 m', '1 h 49 m', '2 h 3 m', '3 h 15 m', '1 h 46 m',
       '1 h 35 m', '1 h 54 m', '2 h 58 m', '2 h 53 m', '2 h 30 m',
       '3 h 29 m', '1 h 29 m', '1 h 23 m', '1 h 28 m', '2 h 6 m',
       '1 h 30 m', '3 h 21 m', '2 h 13 m', '2 h 9 m', '5 h 25 m',
       '1 h 44 m', '2 h 8 m', '3 h 22 m', '1 h 12 m', '1 h 45 m',
       '4 h 33 m', '1 h 42 m', '2 h 48 m', '1 h 36 m', '2 h 38 m',
       '1 h 22 m', '1 h 40 m', '1 h 59 m', '2 h 47 m', '1 h 48 m',
       '1 h 10 m', '2 h 10 m', '3 h 2 m', '1 h 37 m', '1 h 56 m',
       '1 h 55 m', nan, '1 h 27 m', '4 h', '2 h 20 m', '2 h 26 m',
       '2 h 28 m', '2 h 59 m', '2 h 4 m', '2 h 52 m', '2 h 18 m',
       '2 h 21 m', '1 h 18 m', '3 h 17 m',
       '\n        https://www.kinolorber.com/film/hit-the-road\n        ',
       '3 h 13 m', '1 h 20 m', '2 h 49 m', '1 h 32 m', '3 h 20 m',
       '4 h 6 m', '1 h 15 m', '2 h 27 m', '3 h', '1 h 25 m', '2 h 19 m',
       '3 h 26 m', '5 h 21 m', '4 h 15 m', '1 h 24 m', '3 h 4 m',
       '3 h 37 m', '8 h 15 m', '1 h 9 m', '4 h 32 m', 'Not Rated',
       '1 h 16 m', 'Unrated', '3 h 16 m', '1 h 5 m', '2 h 22 m', '30 m',
       '12 h 9 m', '1 h 26 m', '1 h 3 m', '3 h 50 m', '1 h 17 m',
       '2 h 24 m', '3 h 9 m', '2 h 31 m', '1 h 19 m', '37 m', '2 h 29 m',
       '2 h 32 m',
       '\n        http://www.afterthestormfoundation.org/\n        ',
       '2 h 51 m', '3 h 44 m', '2 h 23 m',
       '\n        http://timemachinefilm.com/\n        ', '1 h 13 m',
       '1 h 11 m', '3 h 51 m', '53 m', '3 h 46 m', '2 h 39 m', '2 h 36 m',
       '1 h', '3 h 6 m', '4 h 4 m', '2 h 44 m', '1 h 14 m', 'TV-14',
       '4 h 10 m', '\n        http://www.unrest.film/\n        ', 'PG-13',
       '2 h 54 m',
       '\n        https://www.kinolorber.com/film/theforce\n        ',
       '3 h 40 m', '2 h 41 m', '41 m', '3 h 11 m',
       '\n        http://collidingdreamsthemovie.com/\n        ', '40 m',
       '59 m', '3 h 58 m',
       '\n        https://strandreleasing.com/films/the-shadowless-tower/\n        ',
       '3 h 1 m', '3 h 57 m', 'PG', '44 m', '4 h 55 m', '1 h 6 m',
       'What Will You Find if You Pin All Your Hopes Online?',
       '13 h 28 m', '54 m', 'R', '3 h 3 m', '3 h 25 m',
       '\n        http://www.thegodfather.com/\n        ', '3 h 59 m',
       '3 h 49 m', '1 h 1 m', 'The one team that had a pair', '3 h 14 m',
       '3 h 38 m',
       'Four artists impacted by blindness. Four different paths to the imagination.',
       'One war ends. Another begins.', '3 h 35 m', '58 m',
       '\n        http://www.youdontlikethetruth.com/\n        ', '56 m',
       '\n        http://karlmarxcity.com/\n        ', '4 h 20 m',
       'TV-PG',
       '\n        https://greenwichentertainment.com/film/hello-bookstore/\n        ',
       '\n        http://www.falloffujimori.com/\n        ', '1 h 7 m',
       '\n        http://www.facebook.com/pages/Iron-Crows-Movie/201713159275#!/pages/Iron-Crows-Movie/201713159275?sk=info\n        ',
       '\n        http://aspaceprogram.com/\n        ', '2 h 56 m',
       '\n        http://www.filmmovement.com/libraries/index.asp?MerchandiseID=462\n        ',
       'On October 20, 2012, American Journalist Theo Padaos Was Kidnapped in Syria. This is His Story.',
       '47 m', '3 h 18 m', '5 h 17 m', '2 h 46 m', '2 h 57 m',
       '\n        http://www.itvs.org/external/WGOOS/WGMAIN.html\n        ',
       '3 h 12 m', '39 m',
       '\n        http://www.samuelgoldwynfilms.com/cowboys/\n        ',
       '\n        http://advancedstylefilm.com/\n        ',
       "RADICAL WOLFE is the first feature film to explore Tom Wolfe's life and work, a man who pioneered disruptive journalism, challenged American obsessions and overused punctuation way before it was cool. Tom didn't just document America, he dipped his pen in acid and took readers on a vivid trip through the summer of love, landing on the moon and 1980s Wall Street money-grubbing.",
       '52 m', 'Inside the car is another world.',
       "Once you believe something is possible, it's done already.",
       '\n        https://www.lionsgate.com/movies/the-cotton-club-encore\n        ',
       'TV-G', '\n        http://www.gracelee.net/\n        ',
       '\n        http://www.alma-films.com/\n        ',
       '\n        https://www.kinolorber.com/film/chef-flynn\n        ',
       '21 m', 'A history of the Mariel Boatlift',
       'The story of how truth became the first American casualty in Iraq.',
       '51 m',
       '\n        https://www.factorytwentyfive.com/superior\n        ',
       '\n        http://www.maureengosling.com/ramo/about/about.html\n        ',
       '4 h 30 m',
       '\n        http://www.pbs.org/pov/pov1998/sacrifice/index.html\n        ',
       '46 m',
       '\n        http://combatobscura.oscilloscope.net/\n        ',
       '\n        http://kabakovfilm.com/\n        ',
       'Is the " School of the Americas" a force of democracy or a "School of Assassins"?',
       '\n        http://www.tamala2010.com/\n        ',
       '\n        http://www.picturethisent.com/minisites/youilove/index.html\n        ',
       '\n        http://www.delicacyfilm.com/\n        ',
       '\n        http://www.filmmovement.com/libraries/index.asp?MerchandiseID=573\n        ',
       '\n        https://www.foxmovies.com/movies/once-upon-a-deadpool\n        ',
       '45 m', '\n        http://www.dogsweatthefilm.com/\n        ',
       '55 m', '48 m', '31 m',
       '\n        http://www.7thart.com/current/creature/creature.html\n        ',
       '3 h 39 m',
       '\n        https://www.amazon.com/Boys-Men-Phillip-Bartell/dp/B00005UF80\n        ',
       '\n        http://www.7thstreetmovie.com/\n        '], dtype=object)

In [ ]:
df['Duration'].replace({'Four artists impacted by blindness. Four different paths to the imagination.': '3 h 30 m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:

df['Duration'].replace({'The one team that had a pair': '3 h 30 m'}, inplace = True)

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
df['Directed by'].unique()

NameError: name 'df' is not defined

In [ ]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df['Genres'].unique()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
df['No of Persons Voted'].describe()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].describe()

NameError: name 'df' is not defined

In [ ]:
df['Duration'] = df['Duration'].str.strip('abc')

NameError: name 'df' is not defined

In [ ]:
df['Duration'] = df['Duration'].str.replace('h m', "")

NameError: name 'df' is not defined

In [ ]:
df['Duration'].unique()

NameError: name 'df' is not defined

In [ ]:
df['Duration'].rename({' h ': ':'}, inplace = True)

In [ ]:
df['Duration'].unique()

array(['9 h 32', '1 h 39', '1 h 47', '2 h 16', '3 h 7', '2 h 55',
       '2 h 45', '3 h 36', '3 h 8', '2 h 35', '2 h 25', '1 h 31',
       '1 h 34', '1 h 58', '2 h 50', '2 h 33', '1 h 43', '2 h 42',
       '1 h 41', '2 h 2', '1 h 53', '2 h 12', '1 h 50', '2 h 15', '2 h 5',
       '1 h 21', '1 h 57', '2 h 14', '2 h 17', '2 h 1', '1 h 10',
       '2 h 40', '1 h 51', '3 h 10', '1 h 52', '1 h 33', '1 h 8', '2',
       '2 h 43', '1 h 38', '2 h 7', '2 h 11', '2 h 34', '2 h 37',
       '1 h 49', '2 h 3', '3 h 15', '1 h 46', '1 h 35', '1 h 54',
       '2 h 58', '2 h 53', '2 h 30', '3 h 29', '1 h 29', '1 h 23',
       '1 h 28', '2 h 6', '1 h 30', '3 h 21', '2 h 13', '2 h 9', '5 h 25',
       '1 h 44', '2 h 8', '3 h 22', '1 h 12', '1 h 45', '4 h 33',
       '1 h 42', '2 h 48', '1 h 36', '2 h 38', '1 h 22', '1 h 40',
       '1 h 59', '2 h 47', '1 h 48', '2 h 10', '3 h 2', '1 h 37',
       '1 h 56', '1 h 55', '1 h 27', '4', '2 h 20', '2 h 26', '2 h 28',
       '2 h 59', '2 h 4', '2 h 52', '2 h 18', '2 h 21', '1 h 18',
       '3 h 17', '3 h 13', '1 h 20', '2 h 49', '1 h 32', '3 h 20',
       '4 h 6', '1 h 15', '2 h 27', '3', '1 h 25', '2 h 19', '3 h 26',
       '5 h 21', '4 h 15', '1 h 24', '3 h 4', '3 h 37', '8 h 15', '1 h 9',
       '4 h 32', '1 h 16', '3 h 16', '1 h 5', '2 h 22', '30', '12 h 9',
       '1 h 26', '1 h 3', '3 h 50', '1 h 17', '2 h 24', '3 h 9', '2 h 31',
       '1 h 19', '37', '2 h 29', '2 h 32',
       '\n        http://www.afterthestormfoundation.org/\n', '2 h 51',
       '3 h 44', '2 h 23', '\n        http://timemachinefilm.com/\n',
       '1 h 13', '1 h 11', '3 h 51', '53', '3 h 46', '2 h 39', '2 h 36',
       '1', '3 h 6', '4 h 4', '2 h 44', '1 h 14', 'TV-14', '4 h 10',
       '\n        http://www.unrest.film/\n', 'PG-13', '2 h 54',
       '\n        https://www.kinolorber.com/film/theforce\n', '3 h 40',
       '2 h 41', '41', '3 h 11',
       '\n        http://collidingdreamsthemovie.com/\n', '40', '59',
       '3 h 58',
       '\n        https://strandreleasing.com/films/the-shadowless-tower/\n',
       '3 h 1', '3 h 57', 'PG', '44', '4 h 55', '1 h 6',
       'What Will You Find if You Pin All Your Hopes Online?', '13 h 28',
       '54', 'R', '3 h 3', '3 h 25',
       '\n        http://www.thegodfather.com/\n', '3 h 59', '3 h 49',
       '1 h 1', '3 h 30', '3 h 14', '3 h 38', '3 h 35', '58', '56',
       '4 h 20', '1 h 7', '2 h 56', '47', '3 h 18', '5 h 17', '2 h 46',
       '2 h 57', '3 h 12', '39', '52', '21', '51', '4 h 30', '46', '45',
       '55', '48', '31', '3 h 39'], dtype=object)

In [ ]:
df['Duration'] = df['Duration'].str.replace(' h ', ':')

In [ ]:
df['Duration'].unique()

array(['9  32', '1  39', '1  47', '2  16', '3  7', '2  55', '2  45',
       '3  36', '3  8', '2  35', '2  25', '1  31', '1  34', '1  58',
       '2  50', '2  33', '1  43', '2  42', '1  41', '2  2', '1  53',
       '2  12', '1  50', '2  15', '2  5', '1  21', '1  57', '2  14',
       '2  17', '2  1', '1  10', '2  40', '1  51', '3  10', '1  52',
       '1  33', '1  8', '2', '2  43', '1  38', '2  7', '2  11', '2  34',
       '2  37', '1  49', '2  3', '3  15', '1  46', '1  35', '1  54',
       '2  58', '2  53', '2  30', '3  29', '1  29', '1  23', '1  28',
       '2  6', '1  30', '3  21', '2  13', '2  9', '5  25', '1  44',
       '2  8', '3  22', '1  12', '1  45', '4  33', '1  42', '2  48',
       '1  36', '2  38', '1  22', '1  40', '1  59', '2  47', '1  48',
       '2  10', '3  2', '1  37', '1  56', '1  55', '1  27', '4', '2  20',
       '2  26', '2  28', '2  59', '2  4', '2  52', '2  18', '2  21',
       '1  18', '3  17', '3  13', '1  20', '2  49', '1  32', '3  20',
       '4  6', '1  15', '2  27', '3', '1  25', '2  19', '3  26', '5  21',
       '4  15', '1  24', '3  4', '3  37', '8  15', '1  9', '4  32',
       '1  16', '3  16', '1  5', '2  22', '30', '12  9', '1  26', '1  3',
       '3  50', '1  17', '2  24', '3  9', '2  31', '1  19', '37', '2  29',
       '2  32', '\n        ttp://www.aftertestormfoundation.org/\n',
       '2  51', '3  44', '2  23', '\n        ttp://timemacinefilm.com/\n',
       '1  13', '1  11', '3  51', '53', '3  46', '2  39', '2  36', '1',
       '3  6', '4  4', '2  44', '1  14', 'TV-14', '4  10',
       '\n        ttp://www.unrest.film/\n', 'PG-13', '2  54',
       '\n        ttps://www.kinolorber.com/film/teforce\n', '3  40',
       '2  41', '41', '3  11',
       '\n        ttp://collidingdreamstemovie.com/\n', '40', '59',
       '3  58',
       '\n        ttps://strandreleasing.com/films/te-sadowless-tower/\n',
       '3  1', '3  57', 'PG', '44', '4  55', '1  6',
       'Wat Will You Find if You Pin All Your Hopes Online?', '13  28',
       '54', 'R', '3  3', '3  25',
       '\n        ttp://www.tegodfater.com/\n', '3  59', '3  49', '1  1',
       '3  30', '3  14', '3  38', '3  35', '58', '56', '4  20', '1  7',
       '2  56', '47', '3  18', '5  17', '2  46', '2  57', '3  12', '39',
       '52', '21', '51', '4  30', '46', '45', '55', '48', '31', '3  39'],
      dtype=object)

In [ ]:
df['Duration'] = df['Duration'].str.replace('  ', ':')

In [ ]:
df['Duration'].unique()

array(['9:32', '1:39', '1:47', '2:16', '3:7', '2:55', '2:45', '3:36',
       '3:8', '2:35', '2:25', '1:31', '1:34', '1:58', '2:50', '2:33',
       '1:43', '2:42', '1:41', '2:2', '1:53', '2:12', '1:50', '2:15',
       '2:5', '1:21', '1:57', '2:14', '2:17', '2:1', '1:10', '2:40',
       '1:51', '3:10', '1:52', '1:33', '1:8', '2', '2:43', '1:38', '2:7',
       '2:11', '2:34', '2:37', '1:49', '2:3', '3:15', '1:46', '1:35',
       '1:54', '2:58', '2:53', '2:30', '3:29', '1:29', '1:23', '1:28',
       '2:6', '1:30', '3:21', '2:13', '2:9', '5:25', '1:44', '2:8',
       '3:22', '1:12', '1:45', '4:33', '1:42', '2:48', '1:36', '2:38',
       '1:22', '1:40', '1:59', '2:47', '1:48', '2:10', '3:2', '1:37',
       '1:56', '1:55', '1:27', '4', '2:20', '2:26', '2:28', '2:59', '2:4',
       '2:52', '2:18', '2:21', '1:18', '3:17', '3:13', '1:20', '2:49',
       '1:32', '3:20', '4:6', '1:15', '2:27', '3', '1:25', '2:19', '3:26',
       '5:21', '4:15', '1:24', '3:4', '3:37', '8:15', '1:9', '4:32',
       '1:16', '3:16', '1:5', '2:22', '30', '12:9', '1:26', '1:3', '3:50',
       '1:17', '2:24', '3:9', '2:31', '1:19', '37', '2:29', '2:32',
       '\n::::ttp://www.aftertestormfoundation.org/\n', '2:51', '3:44',
       '2:23', '\n::::ttp://timemacinefilm.com/\n', '1:13', '1:11',
       '3:51', '53', '3:46', '2:39', '2:36', '1', '3:6', '4:4', '2:44',
       '1:14', 'TV-14', '4:10', '\n::::ttp://www.unrest.film/\n', 'PG-13',
       '2:54', '\n::::ttps://www.kinolorber.com/film/teforce\n', '3:40',
       '2:41', '41', '3:11', '\n::::ttp://collidingdreamstemovie.com/\n',
       '40', '59', '3:58',
       '\n::::ttps://strandreleasing.com/films/te-sadowless-tower/\n',
       '3:1', '3:57', 'PG', '44', '4:55', '1:6',
       'Wat Will You Find if You Pin All Your Hopes Online?', '13:28',
       '54', 'R', '3:3', '3:25', '\n::::ttp://www.tegodfater.com/\n',
       '3:59', '3:49', '1:1', '3:30', '3:14', '3:38', '3:35', '58', '56',
       '4:20', '1:7', '2:56', '47', '3:18', '5:17', '2:46', '2:57',
       '3:12', '39', '52', '21', '51', '4:30', '46', '45', '55', '48',
       '31', '3:39'], dtype=object)