In [1]:
import numpy as np
import pandas as pd
rate = pd.read_csv('exchange20092024.csv')
rate.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
9/19/2024,CFA,2024,September,2.7819,2.7919,2.8019,NaN
9/19/2024,YUAN/RENMINBI,2024,September,225.3505,225.4212,225.4919,NaN
9/19/2024,DANISH KRONA,2024,September,237.4456,237.5201,237.5946,NaN
9/19/2024,EURO,2024,September,1771.4938,1772.0498,1772.6058,NaN
9/19/2024,YEN,2024,September,11.1232,11.1267,11.1302,NaN

In [3]:
rate.reset_index(inplace = True)
rate.head()

,index,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
0,9/19/2024,CFA,2024,September,2.7819,2.7919,2.8019,NaN
1,9/19/2024,YUAN/RENMINBI,2024,September,225.3505,225.4212,225.4919,NaN
2,9/19/2024,DANISH KRONA,2024,September,237.4456,237.5201,237.5946,NaN
3,9/19/2024,EURO,2024,September,1771.4938,1772.0498,1772.6058,NaN
4,9/19/2024,YEN,2024,September,11.1232,11.1267,11.1302,NaN

In [4]:
rate.rename({'index' : 'Rate Date', 'Rate Date' : 'Currency', 'Currency' : 'Rate Year', 'Rate Year' : 'Rate Month', 'Rate Month': 'Buying Rate',
       'Buying Rate' : 'Central Rate', 'Central Rate': 'Selling Rate', 'Selling Rate' : 'Nill'}, axis = 1, inplace = True)
rate.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate,Nill
0,9/19/2024,CFA,2024,September,2.7819,2.7919,2.8019,NaN
1,9/19/2024,YUAN/RENMINBI,2024,September,225.3505,225.4212,225.4919,NaN
2,9/19/2024,DANISH KRONA,2024,September,237.4456,237.5201,237.5946,NaN
3,9/19/2024,EURO,2024,September,1771.4938,1772.0498,1772.6058,NaN
4,9/19/2024,YEN,2024,September,11.1232,11.1267,11.1302,NaN

In [5]:
g

In [6]:
rate.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
0,9/19/2024,CFA,2024,September,2.7819,2.7919,2.8019
1,9/19/2024,YUAN/RENMINBI,2024,September,225.3505,225.4212,225.4919
2,9/19/2024,DANISH KRONA,2024,September,237.4456,237.5201,237.5946
3,9/19/2024,EURO,2024,September,1771.4938,1772.0498,1772.6058
4,9/19/2024,YEN,2024,September,11.1232,11.1267,11.1302

In [7]:
rate['Currency'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
56063     True
56064     True
56065     True
56066     True
56067     True
Name: Currency, Length: 56068, dtype: bool

In [8]:
rate['Currency'].unique()

array(['CFA', 'YUAN/RENMINBI', 'DANISH KRONA', 'EURO', 'YEN', 'RIYAL',
       'SOUTH AFRICAN RAND', 'SDR', 'SWISS FRANC', 'POUNDS STERLING',
       'US DOLLAR', 'WAUA', 'POUND STERLING', 'DANISH KRONER',
       'JAPANESE YEN', 'US DOLLAR ', 'YEN ', 'CFA ', 'WAUA ', 'SDR ',
       'EURO\t', 'EURO ', 'RIYAL ', 'SWISS FRANC\t', 'SDR\t', 'NAIRA',
       'POESO'], dtype=object)

In [9]:
rate['Currency'].duplicated().sum()

56041

In [19]:
rate['Currency'].unique()

array(['duplicated'], dtype=object)